<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletConfigAndContext</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>Cars</servlet-name>
  	<servlet-class>com.prabhu.servletconfigcontext.Cars</servlet-class>
  	
  	<init-param>
  		<param-name>Car Name New</param-name>
  		<param-value>Mercedes Benz</param-value>
  	</init-param>
  	
  	<init-param>
  		<param-name>Car Price New</param-name>
  		<param-value>40 Lakhs</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Cars</servlet-name>
  	<url-pattern>/cars</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>Car Name</param-name>
  	<param-value>Mahindra Thar</param-value>
  </context-param>
  
  <context-param>
  	<param-name>Car On-road Price</param-name>
  	<param-value>16 Lakhs</param-value>
  </context-param>
</web-app>